*{
  box-sizing: border-box;
}
html, body{
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  position: relative;
}
#root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: .5rem;
  left: .5rem;
  bottom: .5rem;
  right: .5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon{
  width: 54px;
  height: 54px;

}